<%= div_for comment do %>
    <% if comment.post.comment_type == 'moderated' && !comment.is_approved %>
        <% if can? :approve, comment %>
            <%= render partial: 'comments/comment_content', :locals => {:comment => comment} %>
            <br>
            <%= link_to 'Approve', {:controller =>'comments', :action => 'approve', :id => comment.id}, :class => 'btn', method: :put %>
            <%= link_to 'Decline', {:controller =>'comments', :action => 'reject', :id => comment.id}, :class => 'btn', method: :put %>
            <br>
        <% elsif comment.author == current_user.email %>
            <small style="text-decoration: underline;">Comment waiting for approval:</small>
            <br>
            <%= render partial: 'comments/comment_content', :locals => {:comment => comment} %>
        <% end %>
    <% else %>
        <%= render partial: 'comments/comment_content', :locals => {:comment => comment} %>
        <%= form_for [comment.post, Comment.new], :html => {:class => 'form-horizontal center'} do |f| %>
            <%= f.hidden_field :author, :value => current_user.email %>
            <%= f.hidden_field :parent_id, :value => comment.id %>
            <div class="form-group" >
              <div class="col-md-6 ">
                <%= f.text_area :body, class: 'form-control' %>
              </div>
              <div class="col-md-6">
                <%= f.submit 'Reply', class: 'btn btn-default btn-primary ' %>
              </div>
            </div>

            <br>
        <% end %>
    <% end %>
    <div class="reply">
      <%= render comment.replies if comment.replies.any? %>
    </div>
<% end %>