<%= div_for comment do %>
    <p>
      <%= comment.body %>
      <br/>
      <i>Posted <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.author %></i>
    </p>
    <%= link_to "Upvote", {:controller =>"comments", :action => "upvote", :id => comment.id}, :class => 'btn', method: :put %>
    <%= comment.get_upvotes.size %>
    <%= link_to "Downvote", {:controller =>"comments", :action => "downvote", :id => comment.id}, :class => 'btn', method: :put %>
    <%= comment.get_downvotes.size %>

<% end %>