<%= simple_form_for(@post) do |f| %>
    <div class="field">
      <%= f.input :author, input_html: {value: current_user.email }, :readonly => true %>
    </div>
    <div class="field">
      <%= f.input :title %>
    </div>
    <div class="field">
      <%= f.input :body %>
    </div>

    <%= f.input :tags_string %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
