<p id="notice"><%= notice %></p>

<h2>Filter by tag</h2>

<% @tags.each do |tag| %>
    <%= link_to tag.name, filter_path(tag.name), :class => 'filter-by-tag' %>
<% end %>

<h2> <%= link_to 'Posts', posts_path %> </h2>

<% @posts.each do |post| %>
    <div class="container">
      <div class="post" style="">
        <h3><%= post.title %></h3>
        <i><p><%= post.author %></p></i>
        <div class="post-body"><%= post.body %></div>
        <h3>Tags</h3>
        <div class="post-tags"><%= post.tags.join(', ') %></div>
      </div>
      <div class="comments">

        <% if can? :update, post %>
            <div>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
        <% end %>
        <div id="comments">
          <%= render :partial => post.comments %>
        </div>
      </div>
      <%= form_for [post, Comment.new] do |f| %>
          <p>
            <!--<%= f.label :author, current_user.email %>-->
            <div>
            <%= f.hidden_field :author, :value => current_user.email %>
            </div>
            <%= f.text_area :body %>
          </p>
          <p><%= f.submit 'Add comment' %></p>
      <% end %>
    </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
