<h4 class="text-center">Filter by tag</h4>
<div class="row">
  <div class="col-xs-12 text-center">
    <%= link_to 'All posts', posts_path, :class => 'btn btn-info'  %>
    <% @tags.each do |tag| %>
        <%= link_to tag.name, filter_path(tag.name), :class => 'btn btn-info'  %>
    <% end %>
  </div>
</div>
<% i = 0 %>
<% @posts.each do |post| %>
    <% if i % 2 == 0 %>
        <div class="post-even">
    <% else %>
        <div class="post-odd">
    <% end %>
    <% i = i+1  %>
      <div class="post">
        <h3><%= post.title %></h3>
        <i><p><%= post.author %></p></i>
        <small><p>Type <%= post.comment_type %></p></small>
        <% if can? :update, post %>
            <div>
              <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-sm btn-primary' %>
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Do you really want to delete this post?' },
                          class: 'btn btn-sm btn-primary'%>
            </div>
            <br>
        <% end %>
        <div class="post-tags"><%= post.tags.join(', ') %></div>
        <div class="post-body"><%= post.body %></div>
      </div>
    <hr>
    <div id="blog-comments" class="comments">
      <% post.comments.each do |comment| %>
          <%= render comment if comment.parent_id.nil? %>
      <% end %>
    </div>

      <% if post.comment_type != 'forbidden' %>
          <%= form_for [post, Comment.new], :html => {:class => 'form-horizontal center'} do |f| %>
              <div>
                <%= f.hidden_field :author, :value => current_user.email %>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <%= f.text_area :body, class: 'form-control' %>
                </div>
                <div class="col-md-6">
                  <%= f.submit 'Add new comment', class: 'btn btn-primary ' %>
                </div>
              </div>

          <% end %>
      <% end %>
    </div>

<% end %>

<br>

<div class="row">
  <div class="col-xs-12 text-center">
    <%= link_to 'Create post', new_post_path, :class => 'btn btn-primary'  %>

  </div>
</div>

<br>
