<!DOCTYPE html>
<html>
<head>
  <title>Blogging app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only"></span>

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to(current_user.email, edit_user_registration_path) %></li>
            <li><%= image_tag current_user.avatar.url(:thumb), class: 'img-circle', :height => '50%', :width => '50%' %></li>
            <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
            <li><%= link_to('Sign In', new_user_session_path) %></li>
            <li><%= link_to('Register', new_user_registration_path) %></li>
        <% end %>
      </ul>


    </div>

  </div>
</nav>

<%= render partial: 'devise/shared/flash_messages', flash: flash %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
